
#pic1 {
	width: 600px;
	height: 600px;
}
#pic {
	width: 500px;
	height: 500px;
}
#game {
<<<<<<< HEAD
	width: 1900px;
	height: 800px;	
	overflow: hidden;	
=======
	margin-left:0px;
>>>>>>> 49de9737a313564a3fd08ee98ba3959a9192bdc2
}